// full size
.full-size () {
  .square(100%);
}

// scrollable
.scrollable () {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}   