// full size
.full-size () {
  .square(100%);
}

// scrollable
.scrollable () {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.sprite(@x, @y) {
  background: url(../images/sprite.png) no-repeat;
  background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
}

.spritePadded(@x, @y, @width, @height) {
   .sprite(@x, @y);
   position: absolute;
   content: "";
   width: @width;
   height: @height;
}

.spriteInline(@x, @y, @width, @height) {
   .sprite(@x, @y);
   display: inline-block;
   content: "";
   width: @width;
   height: @height;
}

