.full-size {
	.full-size;
}

.scrollable {
	.scrollable;
}

// колонки
._col(@s: 3%) {
  float: left;
  margin-left: @s;

    &:first-of-type {
    margin-left: 0;
  }
}

.col_w(@n, @all, @s: @COLUMN_SPACE){
  width: ( ( (100% - ((@all - 1) * @s)) / @all ) * @n) + (@n - 1) * @s;
}

// @n — колонок 
// @all — всего колонок
// @s: 3% — промежуток
.column_width(@n, @all, @s: 3%){
  ._col(@s);
  .col_w(@n, @all, @s);
}

.col {
  float: left;
  //margin-left: 3%; 
}

.col:first-of-type {
  margin-left: 0;
}

.col-2x {
  .col_w(1, 2, 0%);
}
// основная навигация
.nav-tabs-ext {
  border-bottom: 1px solid @nav-tabs-border-color;
  position: absolute;
  margin: 0;
  padding-left: 10px;
  top: 5px;
  left: 0;
  width: 100%;
  list-style: none;

  > li {
    float: left;
    margin-bottom: -1px;

    > a {
      line-height: @line-height-base;
      border: 1px solid transparent;
      padding: 4px 19px 6px 19px;
      letter-spacing: -0.16px;
      display: block;
      outline: none;
      color: #b0b0b0;
    
      &:hover {
        //border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
        text-decoration: none;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #000000;
        border: 1px solid @nav-tabs-border-color;
        text-decoration: none;
        border-top-color: transparent;
        background-color: #ffffff;
        border-bottom-color: transparent;
        box-shadow: 0 -4px 0 rgba(0,0,0,1);
        cursor: default;
        outline: none;
      }
    }
  }
}
.nav-tabs-sub {
  //border-bottom: 1px solid @nav-tabs-border-color;
  width: 100%;
  list-style: none;
  height: 45px;
  margin: 0;
  padding-left: 10px;
  background: linear-gradient(90deg, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0)) bottom; 
  background-repeat:no-repeat;
  background-size:100% 1px;

  &:extend(.clearfix all);

  > li {
    float: left;
    line-height: 43px;
    text-align: center;
    margin-right: 4%;
    > a {

      padding: 2px 0 3px 0;
      position: relative;
      display: block;
      outline: none;
      text-decoration: none;
      font-size: 13px;
    
      &:hover {
        
      }
    }

    &.active > a {
      &:after {
      .spritePadded(1264, 36, 90px, 10px);
      bottom: -1px;
      z-index: 2;
      left: 0;
      }

      &,
      &:hover,
      &:focus {
        padding-top: 0;
        color: #000000;
        cursor: default;
        font-size: 21px;
        outline: none;
      }
    }
  }
}